* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto, 'Times New Roman', Times, serif;
}

body {
  background: linear-gradient(270deg, #1cb5e0 0%, #000851 100%);
}

section {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  min-width: 700px;
  overflow-x: scroll;
}

.flex {
  display: flex;
}

.image {
  width: 100%;
  height: 72%;
}

.reactions {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.container {
  background: linear-gradient(90deg, #e3ffe7 0%, #a3c0f0 100%);
  height: 70vh;
  border-radius: 10px;
}

h3 {
  margin: 0.3rem 1rem;
}

.comments {
  background-color: rgb(14, 14, 127);
  text-align: center;
  padding: 0.5rem;
  margin: 1rem 5rem;
}

.popup-text {
  width: 50%;
  flex-direction: column;
}

.comment-modal {
  background-color: rgb(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-popup {
  background-color: white;
  width: 70%;
  height: 80vh;
  padding: 2rem;
  overflow-y: scroll;
  z-index: 1;
  box-shadow: 0px 0px 10px white;
  border-radius: 10px;
}

.popup-content {
  justify-content: center;
  position: relative;
}

.fa-comments,
.fa-heart {
  color: rgb(14, 14, 127);
}

.popup-image {
  height: 250px;
  width: 250px;
  margin-right: 3rem;
}

fieldset {
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
}

fieldset button,
fieldset input,
fieldset textarea {
  padding: 0.3rem;
}

fieldset button {
  align-self: flex-start;
}

.popup-close {
  position: absolute;
  right: 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 700;
}

.popup-text p {
  padding: 1rem 0;
}
