* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}

section {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 5rem;
}

.flex {
  display: flex;
}

.image {
  width: 100%;
  height: 70%;
  border-radius: 5%;
}

.reactions {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3rem;
}

.container {
  padding: 1rem;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  border-radius: 5%;
}

.comments {
  background-color: rgb(14, 14, 127);
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}
